@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.font-mono {
  font-family: 'JetBrains Mono', monospace;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #111827;
}
::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4B5563;
}

/* Leaflet Dark Popup Overrides */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: #111827 !important;
  color: #F3F4F6 !important;
  border: 1px solid #374151;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.leaflet-popup-content {
  margin: 12px;
  font-family: 'Inter', sans-serif;
}
